[Unit]
Description = Starts instance of Datomic (Free Edition)

[Service]
User = datomic
Type = simple
ExecStart = /usr/lib/datomic/bin/transactor /usr/lib/datomic/config/transactor.properties
Restart = always

[Install]
WantedBy = multi-user.target